{% extends 'base_backend.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block jumbotron %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
        <a href="{{ path('be_news_new') }}" class="btn btn-primary pull-right">
                Create <span class="fa fa-plus-circle"></span>
        </a>
        <br><br>
        <table class="table">
                <thead>
                <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Published?</th>
                        <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                        <tr>
                                <td>{{ article.title }}</td>
                                <td>{{ article.author.firstName }}</td>
                                <td>
                                        <span class="fa fa-{{ article.isPublished ? 'check' : 'times' }}"></span>
                                </td>
                                <td>
                                        <a href="{{ path('be_news_edit', {
                                                id: article.id
                                        }) }}">
                                                <i class="fas fa-pencil-alt"></i>
                                        </a>
                                </td>
                        </tr>
                {% endfor %}
                </tbody>
        </table>
{% endblock %}
