{% extends 'base_backend.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block jumbotron %}<h1>{{ title }}</h1>{% endblock %}

{% block backend_nav_news_sub %}
        <a href="{{ path('be_news_new') }}" class="btn btn-sm sub-tool"><i class="fa fa-plus-circle"></i> Create</a>
        <a href="{{ path('be_comment') }}" class="btn btn-sm sub" style="margin-top: -9px"><i class="far fa-comments"></i> Comments</a>
{% endblock %}

{% block content %}
<div class="container">
        {% for article in articles %}
        <div class="row log-element">
                <div class="col-md-6 log-element-data data-title">{{  article.title }}</div>
                <div class="col-md-3 log-element-data">{{ article.author.firstName }}</div>
                <div class="col-md-1 log-element-data"><span class="fa fa-{{ article.isPublished ? 'check-circle' : 'stopwatch' }} text-secondary"></span></div>
                <div class="col-md-1 log-element-data-button"><a class="btn btn-sm sub-tool-inline" href="{{ path('be_news_edit', { id: article.id}) }}"><i class="fas fa-pencil-alt"></i></a></div>
                <div class="col-md-1 log-element-data-button"><a class="btn btn-sm sub-tool-inline del" href="#"><i class="fas fa-trash-alt"></i></a></div>
        </div>
        {% endfor %}
</div>
{% endblock %}
