{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block jumbotron_md %}<h1>{{ title }}</h1>{% endblock %}

{% block content_md_center %}
        {{ form_start(articleForm) }}
                {{ form_widget(articleForm) }}
                <button type="submit" class="btn btn-primary">create</button>
        {{ form_end(articleForm) }}
{% endblock %}
