{{ form_start(articleForm, { 'attr': {'autocomplete': 'off'} }) }}
    {{ form_row(articleForm.title, {
        label: 'Log Title'
    }) }}
    {{ form_row(articleForm.audio_file, {
        attr: {
            placeholder: 'select an mp3 audio file'
        }
    }) }}
    <div class="trumbowyg-dark">
    {{ form_row(articleForm.content) }}
    </div>
    {{ form_row(articleForm.excerpt, {'attr' : {'class' : 'excerpt'}}) }}
    <small class="textcounter text-secondary float-right" id="counter">255</small>
    {{ form_row(articleForm.publishedAt) }}
    <button type="submit" class="btn btn-sm sub-tool"><i class="fa fa-plus-circle"></i> {{ button_text }}</button>
{{ form_end(articleForm) }}
