{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

    {% block jumbotron_sm %}<h1>{{ article.title }}</h1>{% endblock %}

{% block content_sm_left %}
    <div class="news_article_info">
        <p>
            <small>{{ article.publishedAt|ago}}</small><br>
            <small>by {{ article.author.firstName }}</small><br>
            {% if article.tags.count > 0 %}
            <br>
            <small>
                {% for tag in article.tags %}
                    <i class="fas fa-tags"></i>&nbsp;{{ tag.name }}<br>
                {% endfor %}
            </small>
            {% endif %}
        </p>
        <p>
            <a href="{{ path('news_toggleLikes', {slug: article.slug}) }}" class="fab fa-hotjar cold like-article js-like-article"></a> <span class="js-like-article-count">{{ article.likes }}</span>
        </p>
    </div>
{% endblock %}

{% block content_sm_center %}

    {{ article.content|cached_markdown }}

    <h5>{{ article.nonDeletedComments|length }} Comments</h5>
    <hr>
    <div class="row">
        {% for comment in article.nonDeletedComments %}
        <p>
            <div class="col-md-1">
                IMG
            </div>
            <div class="col-md-11">
                <span class="bolder">{{ comment.authorName }}</span> ~ <span><small> {{ comment.createdAt|ago }} </small></span><br>
                <span>{{ comment.content }}</span>
            </div>
        </p>
        {% endfor %}
    </div>
{% endblock %}
