{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block jumbotron %}
    <h1>{{ article.title }}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">~</a></li>
        <li class="breadcrumb-item"><a href="{{ path('index') }}">news</a></li>
        <li class="breadcrumb-item active">{{ breadcrumb }}_</li>
    </ol>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-2">
            <div class="news_article_info">
                <p>
                    <small>{{ article.publishedAt|ago}}</small><br>
                    <small>by {{ article.author }}</small><br>
                </p>
                <p>
                    <a href="{{ path('news_toggleLikes', {slug: article.slug}) }}" class="fab fa-hotjar cold like-article js-like-article"></a> <span class="js-like-article-count">{{ article.likes }}</span>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            {{ article.content|cached_markdown }}
            <hr>
            {% for comment in article.comments %}
                <p>
                    <span><b>{{ comment.authorName }}</b> <small>( {{ comment.createdAt|ago }} )</small></span><br>
                    <span>{{ comment.content }}</span>
                </p>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
