{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
        {% block jumbotron %}
<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
                <h1>{{ article.title }}</h1>
        </div>
    <div class="col-md-2"></div>
</div>
        {% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-2">
            <div class="news_article_info">
                <p>
                    <small>{{ article.publishedAt|ago}}</small><br>
                    <small>by {{ article.author }}</small><br>
                </p>
                <p>
                    <a href="{{ path('news_toggleLikes', {slug: article.slug}) }}" class="fab fa-hotjar cold like-article js-like-article"></a> <span class="js-like-article-count">{{ article.likes }}</span>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    {{ article.content|cached_markdown }}

                    <h5>{{ article.nonDeletedComments|length }} Comments</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for comment in article.nonDeletedComments %}
                <p>
                <div class="col-md-1">
                    IMG
                </div>
                <div class="col-md-11">
                    <span class="bolder">{{ comment.authorName }}</span> ~ <span><small> {{ comment.createdAt|ago }} </small></span><br>
                    <span>{{ comment.content }}</span>
                    </p>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
