{% extends 'backend/bare.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block content_bare%}
        <h1>Comments</h1>
        <form>
                <div class="input-group mb-3">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Search..."
                               value="{{ app.request.query.get('q') }}">
                        <div class="input-group-append">
                                <button type="submit"
                                        class="btn btn-outline-secondary">
                                        <span class="fa fa-search"></span>
                                </button>
                        </div>
                </div>
        </form>
        <span>RESULTS: {{ pagination.getTotalItemCount}}</span>
        <br><br>
        <div class="row backend-list-element">
                <div class="col-md-3 backend-list-element-header">Article</div>
                <div class="col-md-6 backend-list-element-header">Comment</div>
                <div class="col-md-1 backend-list-element-header-center"></div>
                <div class="col-md-1 backend-list-element-header-center"></div>
                <div class="col-md-1 backend-list-element-header-center"></div>
        </div>
        {% for comment in pagination %}
        <div class="row backend-list-element">
                <div class="col-md-3 backend-list-element-data"><a href="{{ path('log', {slug: comment.article.slug}) }}">{{ comment.article.title|truncate(15,true,'...') }}</a></div>
                <div class="col-md-6 backend-list-element-data overflow-hidden" title="{{ comment.content }}">{{ comment.content|truncate(50,true,'...')  }}</div>
                <div class="col-md-1 backend-list-element-data-center">
                        {% if comment.isPublic %}
                                <span class="text-success text-center">Public</span>
                        {% else %}
                                <span class="text-dark text-center">Private</span>
                        {% endif %}

                </div>
                <div class="col-md-1 backend-list-element-control">
                        {% if comment.isApproved %}
                                <a class="btn btn-sm sub-tool-inline bg-success" href="{{ path('backend_comment_toggle', { id: comment.id}) }}">Approved</a>
                        {% else %}
                                <a class="btn btn-sm sub-tool-inline bg-secondary" href="{{ path('backend_comment_toggle', { id: comment.id}) }}">Pending</a>
                        {% endif %}
                </div>
                <div class="col-md-1 backend-list-element-control"><a class="btn btn-sm sub-tool-inline bg-danger text-light" href="{{ path('backend_comment_delete', { id: comment.id}) }}">Delete</a></div>
        </div>
        {% else %}
        <div class="row backend-list-element">
                <div class="col-md-12 backend-list-element-data-center">No comments found!</div>
        </div>
        {% endfor %}
        <br><br>
        <div class="text-center">
                {{ knp_pagination_render(pagination) }}
        </div>
{% endblock %}
