{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block jumbotron_lg %}<h1>{{ title }}</h1>{% endblock %}

{% block content_lg_center %}
        <table class="table table-striped">
                <thead>
                <tr>
                        <th>Article</th>
                        <th>Author</th>
                        <th>Comment</th>
                        <th>Created At</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments  %}
                        <tr>
                                <td><a href="{{ path('news', {slug: comment.article.slug}) }}">{{ comment.article.title }}</a></td>
                                <td>{{ comment.authorName }}</td>
                                <td style="width: 20%">{{ comment.content|truncate(30,true,'...') }}</td>
                                <td>{{ comment.createdAt|ago }}</td>
                        </tr>
                {% endfor %}
                </tbody>
        </table>
{% endblock %}
