<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/fav/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/fav/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/fav/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/fav/site.webmanifest') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <!--### navbar centered <div class="container"> -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}"><span> patrickeinatz<span class="navbar-brand-thin">.com</span></a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index') }}">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('data') }}">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('archive') }}">Archive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Log In</a>
                    </li>
                </ul>
                <!--
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                -->
            </div>
       <!--### navbar centered end </div> -->
    </nav>
    <div class="jumbotron">
        <div class="container">
            {% block jumbotron %}{% endblock %}
        </div>
    </div>

    <div class="container">
        {% block container %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% block footer %}
    <hr>
    <footer>
        <p class="copyright">&copy; Patrick Einatz 2019</p>
    </footer>
        {% endblock %}
    </div><!-- Container End -->
    <script src="{{ asset('js/jquery.slim.min.js') }}"></script>
    <script src="{{ asset('js/tether.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ asset('js/news_article.js') }}"></script>
    </body>
</html>
