{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block jumbotron %}
    <h1>{{ title }}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{{ path('index') }}">~</a></li>
        <li class="breadcrumb-item"> </li>
    </ol>
{% endblock %}
{% block container %}
    <div class="row">
    {% for key, article in articles %}
        {% set oddOrEven = cycle(['odd', 'even'], loop.index0) %}
        {% if oddOrEven == 'odd' %}
            <div class="col-sm-6">
                <a href="{{ article.articlePath }}" class="card news_preview news_odd">
                    <div class="card-block">
                        <h4 class="card-title">{{ article.title }}</h4>
                        <p class="card-text">
                            {{ article.content|excerpt }}
                        </p>
                        <div class="news_details">
                            <span class="badge badge-detail"> _user({{ article.author }})</span>
                            <span class="badge badge-detail"> {{ article.publishedAt|ago }}</span>
                            <span class="badge badge-detail"><i class="fab fa-hotjar"></i> {{ article.likes }}</span>
                            <span class="badge badge-detail"><i class="fas fa-comments"></i> {{ article.comments|length }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-sm-6">
                <a href="{{ article.articlePath }}" class="card news_preview news_even">
                    <div class="card-block">
                        <h4 class="card-title">{{ article.title }}</h4>
                        <p class="card-text">
                            {{ article.content|excerpt }}
                        </p>
                        <div class="news_details">
                            <span class="badge badge-detail"> _user({{ article.author }})</span>
                            <span class="badge badge-detail"> {{ article.publishedAt|ago }}</span>
                            <span class="badge badge-detail"><i class="fab fa-hotjar"></i> {{ article.likes }}</span>
                            <span class="badge badge-detail"><i class="fas fa-comments"></i> {{ article.comments|length }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}